:root{
	--green-color: #9AE6B4;
	--cream-color: #FEEBC8;
	--white-color: white;
	--black-color: black;
	/*Espaciado*/
	--space: 10px;
	/* Tipografia */
	--normal: 12px;
	/* Box shadow */
	--boxb: 0px 3px 6px #0000006B;
	--boxB: 0px 3px 6px #00000085;
}

html body{
	padding: 0px; 
	margin: 0px;
	font-size: var(--normal);
	font-family: 'Oswald', sans-serif;
}

body{
	background-color: #58B19F;
}

	/*NAV START*/

.nav_section{
	height: 500px;
}

nav{
	display: flex;
	background-color: var(--cream-color);
	padding: var(--space);
	justify-content: space-between;
	align-items: center;
	height: 43px;
	margin-block-start: -500px;
}

.Logo img{
	padding-left: 30px;
}
nav,ul{
	display: flex;
}
nav,li{
	padding-right: 25px; 
	list-style: none;
}
nav li a{
	text-decoration: none;
	color: black;
}

nav li a:hover{
	color: #58B19F;
}

	/*NAV END*/

	/*MAIN SECTION START*/


.tittle{
    width: 600px;
    min-height: 50px;
    /* background: red; */
    overflow: hidden;
    border-bottom: 1px solid #3C8072;
}

.subsection {
    width: 600px;
    min-height: 50px;
    background: #3C8072;
}

.info{
    width: 600px;
    height: 0;
    background: #f5f5f5;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    /* transition: height 0.2s; */
}

 p.infot {
    margin: 20px;
    text-align: left;
    color: black
}

.subsection:hover .info{
    height: 80px;
}

p.tittlet{
    margin: 13px;
    color: white;
}
.subsections{
	max-width: 1000px;
	margin: 40px auto;
	width: 600px;
	min-height: 50px;
	border-radius: 5px;
}


	/*BACKGROUND IMAGE END*/

	/*FOOTER START*/

.footer_section{
	background-color: var(--cream-color);
	padding: var(--space);
	align-items: center;
	height: 30px
	position: sticky;
}
.footer{
	display: flex;
	justify-content: space-between;
}
.footer_text{
	padding-left: 20px;
}
.footer_text_2{
	padding-right: 20px;
}

	/*FOOTER END*/