:root{
	--green-color: #9AE6B4;
	--cream-color: #FEEBC8;
	--white-color: white;
	--black-color: black;
	/*Espaciado*/
	--space: 10px;
	/* Tipografia */
	--normal: 12px;
	/* Box shadow */
	--boxb: 0px 3px 6px #0000006B;
	--boxB: 0px 3px 6px #00000085;
}

html body{
	padding: 0px; 
	margin: 0px;
	font-size: var(--normal);
	font-family: 'Oswald', sans-serif;
}
	
	/*NAV BACKGROUND START*/
	
.nav_section{
	height: 500px;
}
	
.background_nav{
	justify-content: space-between;
}
.background_images{
	background-image: url(../images/headerback.png);
	background-size: 762px;
	background-repeat: no-repeat;
	height: 300px;
}
.background_images_2{
	background-image: url(../images/headerback2.png);
	background-size: 400px;
	background-repeat: no-repeat;
	height: 300px;
	background-position-x:100%;
	position: relative;
	top:-300px;
}

	/*NAV BACKGROUND ENDS*/

	/*NAV START*/

nav  {
	background-color: var(--cream-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--space);
	margin-block-start: -500px;
	position: sticky;
}

.Logo img {
	padding-left: 30px;
}

nav li {
	padding-right: 25px;
	list-style: none;
}
nav li a{
	color: var(--black-color);
	text-decoration: none;
}

nav li a:hover{
	color: #58B19F;
}

	/*NAV END*/

	/*MAIN SECTION START*/

.main_section{
	text-align: center;
	font-size: 30px;
	margin-top: 130px;
	margin-bottom: -30px;
}

.middle_circle_background{
	background-image: url(../images/middle-product-circle.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 500px;
	margin-top: -132px;
	margin-bottom: 45px;
}

.middle_circle_info{
	padding: 0px 10px 10px 10px;
	text-align: center;
	width: auto;
	font-size: 20px;
	
}

.middle_circle_control{
	justify-content: center;
	margin: 200px;
	position: relative;
	bottom: -145px;
}

.row{
	align-items: center;
	justify-content: space-around;
}

.col-8{
	width: 212px;
	padding: 40px;
}

.col-4{
	padding: 70px;
	font-size: 15px;
}

.col-4 h1{
	color: #58B19F;
}

.col-4 .black_one{
	color: var(--black-color);
}

.columna_footer{
	background-image: url(../images/middle-product-circle.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 300px;
	background-position: top;
}

	/* MAIN SECTION END */

	/* FOOTER START */

.footer_section{
	background-color: var(--cream-color);
	padding: var(--space);
	align-items: center;
	height: 30px
}
.footer{
	display: flex;
	justify-content: space-between;
}
.footer_text{
	padding-left: 20px;
}
.footer_text_2{
	padding-right: 20px;
}

	/* FOOTER END */