:root{
	--green-color: #9AE6B4;
	--cream-color: #FEEBC8;
	--white-color: white;
	--black-color: black;
	/*Espaciado*/
	--space: 10px;
	/* Tipografia */
	--normal: 12px;
	/* Box shadow */
	--boxb: 0px 3px 6px #0000006B;
	--boxB: 0px 3px 6px #00000085;
}

html body{
	padding: 0px; 
	margin: 0px;
	font-size: var(--normal);
	font-family: 'Oswald', sans-serif;
}
	
	/*NAV BACKGROUND START*/
	
.nav_section{
	height: 500px;
}
	
.background_nav{
	justify-content: space-between;
}
.background_images{
	background-image: url(../images/headerback.png);
	background-size: 762px;
	background-repeat: no-repeat;
	height: 300px;
}
.background_images_2{
	background-image: url(../images/headerback2.png);
	background-size: 400px;
	background-repeat: no-repeat;
	height: 300px;
	background-position-x:100%;
	position: relative;
	top:-300px;
}

	/*NAV BACKGROUND ENDS*/

	/*NAV START*/

nav  {
	background-color: var(--cream-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--space);
	margin-block-start: -500px;
	position: sticky;
}

.Logo img {
	padding-left: 30px;
}

nav li {
	padding-right: 25px;
	list-style: none;
}
nav li a{
	color: var(--black-color);
	text-decoration: none;
}

nav li a:hover{
	color: #58B19F;
}

	/*NAV END*/

	/* PAY MODULE START */

.col-5{
	padding: 54px;
}

h3{
	margin-bottom: 0px;
	margin-top: 1px;
}

.col-9{
	margin-top: 30px;
	padding: 10px;
	padding-left: 0px;
}

.col-9 h3{
  color: #58B19F;
  margin-bottom: 0px;
}

.col-9 p{
	margin-bottom: 0px;
	margin-top: 1px;
}

.col-9 h1{
	margin-bottom: 0px;
	margin-top: 1px;
}

.container{
	display: flex;
	background-color: var(--white-color);
	box-shadow: var(--boxB);
	width: 360px;
	border-radius: 25px;
	margin-top: 110px;
	margin-bottom: 8.9%;
	padding: 90px;
	padding-top: 40px;
	padding-bottom: 50px; 
}

.modulo_de_pago input{
	height: 20px;
	width: 260px;
}

.modulo_de_pago button{
	justify-content: center;
	text-align: center;
	padding: 7px;
	border-radius: 20px;
	border-color: transparent;
	position: relative;
	top: 50px;
	width: 300px;
	right: 115px;
	background-color: #91d18b;
}

.modulo_de_pago button:hover{
	background-color: #519872;
}

.col-4 h1{
	color: #58B19F;
}

.col-4 .black_one{
	color: var(--black-color);
}

	/* PAY MODULE END */

	/* FOOTER START */

.footer_section{
	background-color: var(--cream-color);
	padding: var(--space);
	align-items: center;
	height: 30px
}
.footer{
	display: flex;
	justify-content: space-between;
}
.footer_text{
	padding-left: 20px;
}
.footer_text_2{
	padding-right: 20px;
}

	/* FOOTER END */